*.js linguist-vendored
*.mjs linguist-vendored
*.cjs linguist-vendored
*.html linguist-vendored
*.mdx linguist-documentation
scripts/** linguist-vendored
benchmarks/** linguist-vendored
wasm-bench/** linguist-vendored
benchmarks/**/*.json linguist-generated
benchmarks/**/*.html linguist-generated
src/common/wasm/bins/**/*.wasm.ts linguist-generated